.btn {
    border: none;
    text-transform: uppercase;
    padding: 0.5em 1.7em;
    @include border-radius(50px);
    @include transition(all, 0.5s);


    &.btn_purple_lg {
        color: #fff;
        background: $purple-lighten;
        border: 1px solid $purple-lighten;
        @include box-shadow(3px, 5px, 0, $purple);
        @extend .text_btn;
        @include mq('Extra-small') {
            font-size: 1em;
            width: 100%;
        }

        &:hover {
            background: $purple;
            border: 1px solid $purple;
            @include box-shadow(3px, 5px, 0, $purple-lighten);
        }
    }

    &.btn_green_lg {
        color: $purple;
        background: $green;
        border: 1px solid $green;
        @include box-shadow(3px, 5px, 0, $green-darken);
        @extend .text_btn;
        @include mq('Extra-small') {
            font-size: 0.92em;
            width: 100%;
        }

        &:hover {
            background: $green-darken;
            border: 1px solid $green-darken;
            @include box-shadow(3px, 5px, 0, $green);
        }
    }

    &.btn_green {
        color: #000;
        background: $green;
        @extend .text_btn;
        font-weight: 400;
        @include mq('Extra-small') {
            font-size: 0.85em;
            width: 100%;
        }

        &:hover {
            background: $green-darken;
        }
    }

    &.btn_blog {
        background: $gray-300;
        @extend .text_btn_blog;
        margin-top: 15px;
        float: right;
        position: relative;

        &:hover {
            background: darken($color: $gray-300, $amount: 7%);
        }
    }

    &.btn_input {
        background: $purple;
        @include font-mont(1em, 400);
        text-transform: uppercase;
        color: #fff;
        position: absolute;
        height: calc(2.5rem + 2px);
        top: 0;
        right: 0;
        @include mq('Extra-small') {
            font-size: 0.85em;
        }

        &:hover {
            background: darken($color: $gray-300, $amount: 7%);
        }
    }

}

