.title_section {
    @include font-mont(3.3em, 900);
    font-style: italic;
}

.text_destaque {
    @include font-mont(1.5em, 400);
    font-style: italic;
}

.text_btn {
    @include font-mont(1.2em, 600); 
    text-align: center;
}

.text_menu {
    @include font-mont(1.15em, 700);
}

.text_destaque_h2 {
    @include font-ubun(1.8em, 700);
    font-style: italic;
}

.p_home {
    @include font-ubun(1.05em, 300);
    line-height: 20px;
}