.title_section {
    @include font-mont(3.3em, 900);
    font-style: italic;
}

.text_destaque {
    @include font-mont(1.5em, 400);
    font-style: italic;
}

.text_btn {
    @include font-mont(1.2em, 600); 
    text-align: center;
}

.text_menu {
    @include font-mont(1.15em, 700);
}

.text_destaque_h2 {
    @include font-ubun(1.8em, 700);
    font-style: italic;
}

.text_categories {
    @include font-mont(0.8em, 700);
}

.text_title_blog_preview {
    @include font-mont(1.2em, 700);
    font-style: normal;
    color: $gray;
}

.text_date_blog_preview {
    @include font-mont(0.8em, 300);
    color: $gray;
    text-transform: uppercase;
}

.text_blog_preview {
    @include font-ubun(1em, 300);
    color: $gray;
}

.text_btn_blog {
    @include font-ubun(1em, 300);
    color: #555;
    text-transform: none;
}