$purple:        #661a4f;
$purple-lighten:#af116c;
$green:         #dbe342;
$green-darken:  #c1c925;
$gray:          #333333;
$gray-ligthten: #f2f2f2;
$gray-200:      #dddddd;
$gray-300:      #d7d7d7;
$gray-400:      #cbcbcb;

$pink:          #e9005b;
$cian:          #05c698;
