@charset "UTF-8";
/* O exemplo abaixo mostra o `padding` e o `font-size` aumentando quando a largura da tela fica maior que 1024px.

.site-header {
    padding: 2rem;
    font-size: 1.8rem;
    @include mq('tablet-wide') {
        padding-top: 4rem;
        font-size: 2.4rem;
    }
} */
/* Se por acaso você não tiver acostumado a usar o @content, um exemplo de uso:

input,  
textarea {  
    @include input-placeholder {
        color: $grey;
    }
} */
@font-face {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 300;
  src: url(../../components/fonts/Montserrat-Light.ttf); }

@font-face {
  font-family: 'Montserrat', sans-serif;
  font-style: italic;
  font-weight: 300;
  src: url(../../components/fonts/Montserrat-LightItalic.ttf); }

@font-face {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 400;
  src: url(../../components/fonts/Montserrat-Regular.ttf); }

@font-face {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 500;
  src: url(../../components/fonts/Montserrat-Medium.ttf); }

@font-face {
  font-family: 'Montserrat', sans-serif;
  font-style: italic;
  font-weight: 500;
  src: url(../../components/fonts/Montserrat-MediumItalic.ttf); }

@font-face {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 600;
  src: url(../../components/fonts/Montserrat-SemiBold.ttf); }

@font-face {
  font-family: 'Montserrat', sans-serif;
  font-style: italic;
  font-weight: 600;
  src: url(../../components/fonts/Montserrat-SemiBoldItalic.ttf); }

@font-face {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 700;
  src: url(../../components/fonts/Montserrat-Bold.ttf); }

@font-face {
  font-family: 'Montserrat', sans-serif;
  font-style: italic;
  font-weight: 700;
  src: url(../../components/fonts/Montserrat-SemiBold.ttf); }

@font-face {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 800;
  src: url(../../components/fonts/Montserrat-ExtraBold.ttf); }

@font-face {
  font-family: 'Montserrat', sans-serif;
  font-style: italic;
  font-weight: 800;
  src: url(../../components/fonts/Montserrat-ExtraBoldItalic.ttf); }

@font-face {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 900;
  src: url(../../components/fonts/Montserrat-Black.ttf); }

@font-face {
  font-family: 'Montserrat', sans-serif;
  font-style: italic;
  font-weight: 900;
  src: url(../../components/fonts/Montserrat-BlackItalic.ttf); }

/* http://meyerweb.com/eric/tools/css/reset/
   v4.0 | 20180602
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
main, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, main, menu, nav, section {
  display: block; }

/* HTML5 hidden-attribute fix for newer browsers */
*[hidden] {
  display: none; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

a {
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s; }

section {
  width: 100%;
  height: auto;
  display: block; }

.title_section {
  font-family: 'Montserrat', sans-serif;
  font-size: 3.3em;
  font-weight: 900;
  font-style: italic; }

.text_destaque, #section_1 .text_call p {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.5em;
  font-weight: 400;
  font-style: italic; }

.text_btn, .btn.btn_purple_lg {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.5em;
  font-weight: 600; }

.video {
  position: relative;
  display: block;
  width: 100%;
  height: auto; }

.btn.btn_purple_lg {
  color: #fff;
  background: #af116c;
  border: none;
  box-shadow: 3px 5px 0 #661a4f;
  -webkit-box-shadow: 3px 5px 0 #661a4f;
  -moz-box-shadow: 3px 5px 0 #661a4f;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px; }

.header-top {
  background: #dbe342; }
  .header-top__socials {
    height: 38px;
    padding-top: 8px;
    padding-bottom: 8px;
    text-align: left; }
    @media only screen and (max-width: 575.98px) {
      .header-top__socials {
        text-align: center; } }
    .header-top__socials--icon {
      height: 20px;
      width: auto;
      display: block;
      font-size: 1.2rem;
      line-height: 1;
      display: inline-block;
      margin-left: 5px;
      color: #661a4f; }
      .header-top__socials--icon:first-child {
        font-size: 1.1rem;
        margin-left: 0; }
      .header-top__socials--icon:hover {
        color: #3d1030; }
  .header-top__nav {
    border-top: 1px solid #c1c925; }
    .header-top__nav a {
      width: 49%;
      height: 38px;
      display: inline-block;
      border-left: 1px solid #c1c925; }
      .header-top__nav a:first-child {
        border-left: none; }

.header-nav {
  background: #661a4f;
  height: auto;
  width: 100%; }
  .js .header-nav {
    height: 63px;
    overflow: hidden; }
    .js .header-nav .container {
      height: 100%; }
  .header-nav__logo {
    display: inline-block;
    max-width: 124px;
    height: 63px;
    position: relative;
    padding-top: 12px;
    padding-bottom: 12px; }
  .header-nav__hambugger {
    display: none; }
    .js .header-nav__hambugger {
      display: inline-block;
      float: right;
      border: none;
      background: transparent;
      color: #fff;
      position: relative;
      top: 12px;
      background: #52153f;
      cursor: pointer; }
      .js .header-nav__hambugger:hover, .js .header-nav__hambugger:focus {
        background: #3d1030; }
    .header-nav__hambuggerParties {
      font-size: 1.2em;
      padding: 0.5em 0.3em; }
  .header-nav__menu a {
    color: #fff;
    display: block;
    font-size: 1.5em;
    padding: 0.5em;
    text-transform: uppercase; }
    @media only screen and (max-width: 575.98px) {
      .header-nav__menu a {
        border-top: 1px solid #5a1746; }
        .header-nav__menu a:last-child {
          border-bottom: 1px solid #5a1746; } }
    .header-nav__menu a:hover {
      background: #5a1746; }
  .js .header-nav__menu {
    display: none; }
  .menu--opened .header-nav__menu {
    display: block; }

#section_1 {
  background: #661a4f;
  background-image: url(../img/back01.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 50px 0; }
  @media only screen and (max-width: 575.98px) {
    #section_1 {
      background-position: left; } }
  #section_1 .text_call {
    position: relative; }
    #section_1 .text_call p {
      margin-top: 15px;
      text-align: right;
      color: #fff;
      margin-bottom: 20px;
      line-height: 1.2; }
      @media only screen and (max-width: 575.98px) {
        #section_1 .text_call p {
          font-size: 1em;
          padding: 10px;
          background-color: #661a4f;
          /*rgba($color: #000000, $alpha: .1)*/ } }
  #section_1 h1 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    font-style: italic;
    color: #fff;
    font-size: 1.5em;
    text-transform: uppercase;
    padding-left: 32px; }
    #section_1 h1:last-child {
      margin-top: 8px;
      padding-left: 25px; }
  #section_1 span {
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    font-style: italic;
    color: #dbe342;
    font-size: 4.5em;
    text-transform: uppercase;
    position: absolute;
    left: 14px;
    top: -8px; }
