@charset "UTF-8";
/* Se por acaso você não tiver acostumado a usar o @content, um exemplo de uso:

input,  
textarea {  
    @include input-placeholder {
        color: $grey;
    }
} */
@font-face {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 300;
  src: url(../../components/fonts/Montserrat-Light.ttf); }

@font-face {
  font-family: 'Montserrat', sans-serif;
  font-style: italic;
  font-weight: 300;
  src: url(../../components/fonts/Montserrat-LightItalic.ttf); }

@font-face {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 400;
  src: url(../../components/fonts/Montserrat-Regular.ttf); }

@font-face {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 500;
  src: url(../../components/fonts/Montserrat-Medium.ttf); }

@font-face {
  font-family: 'Montserrat', sans-serif;
  font-style: italic;
  font-weight: 500;
  src: url(../../components/fonts/Montserrat-MediumItalic.ttf); }

@font-face {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 600;
  src: url(../../components/fonts/Montserrat-SemiBold.ttf); }

@font-face {
  font-family: 'Montserrat', sans-serif;
  font-style: italic;
  font-weight: 600;
  src: url(../../components/fonts/Montserrat-SemiBoldItalic.ttf); }

@font-face {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 700;
  src: url(../../components/fonts/Montserrat-Bold.ttf); }

@font-face {
  font-family: 'Montserrat', sans-serif;
  font-style: italic;
  font-weight: 700;
  src: url(../../components/fonts/Montserrat-SemiBold.ttf); }

@font-face {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 800;
  src: url(../../components/fonts/Montserrat-ExtraBold.ttf); }

@font-face {
  font-family: 'Montserrat', sans-serif;
  font-style: italic;
  font-weight: 800;
  src: url(../../components/fonts/Montserrat-ExtraBoldItalic.ttf); }

@font-face {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 900;
  src: url(../../components/fonts/Montserrat-Black.ttf); }

@font-face {
  font-family: 'Montserrat', sans-serif;
  font-style: italic;
  font-weight: 900;
  src: url(../../components/fonts/Montserrat-BlackItalic.ttf); }

@font-face {
  font-family: 'Ubuntu', sans-serif;
  font-style: normal;
  font-weight: 300;
  src: url(../../components/fonts/Ubuntu-Light.ttf); }

@font-face {
  font-family: 'Ubuntu', sans-serif;
  font-style: italic;
  font-weight: 300;
  src: url(../../components/fonts/Ubuntu-LightItalic.ttf); }

@font-face {
  font-family: 'Ubuntu', sans-serif;
  font-style: normal;
  font-weight: 400;
  src: url(../../components/fonts/Ubuntu-Regular.ttf); }

@font-face {
  font-family: 'Ubuntu', sans-serif;
  font-style: italic;
  font-weight: 400;
  src: url(../../components/fonts/Ubuntu-Italic.ttf); }

@font-face {
  font-family: 'Ubuntu', sans-serif;
  font-style: normal;
  font-weight: 500;
  src: url(../../components/fonts/Ubuntu-Medium.ttf); }

@font-face {
  font-family: 'Ubuntu', sans-serif;
  font-style: italic;
  font-weight: 500;
  src: url(../../components/fonts/Ubuntu-MediumItalic.ttf); }

@font-face {
  font-family: 'Ubuntu', sans-serif;
  font-style: normal;
  font-weight: 700;
  src: url(../../components/fonts/Ubuntu-Bold.ttf); }

@font-face {
  font-family: 'Ubuntu', sans-serif;
  font-style: italic;
  font-weight: 700;
  src: url(../../components/fonts/Ubuntu-BoldItalic.ttf); }

g {
  display: none; }

g:target {
  display: inline; }

/* http://meyerweb.com/eric/tools/css/reset/
   v4.0 | 20180602
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
main, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, main, menu, nav, section {
  display: block; }

/* HTML5 hidden-attribute fix for newer browsers */
*[hidden] {
  display: none; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

a {
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s; }

section {
  width: 100%;
  height: auto;
  display: block; }

.title_section, #section_3 h2, #section_4 h2, #section_5 h2, .blog_home_title, .blog_interna_title {
  font-family: 'Montserrat', sans-serif;
  font-size: 3.3em;
  font-weight: 900;
  font-style: italic; }

.text_destaque, #section_1 .text_call .text_call_destaque, #section_4 .vantagens_list li, #section_5 h3, #section_6 p, .blog_home_subtitle {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.5em;
  font-weight: 400;
  font-style: italic; }

.text_btn, .btn.btn_purple_lg, .btn.btn_green_lg, .btn.btn_green {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.2em;
  font-weight: 600;
  text-align: center; }

.text_menu, .header-nav__menu a {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.15em;
  font-weight: 700; }

.text_destaque_h2, #section_2 .apresentacao_title {
  font-family: 'Ubuntu', sans-serif;
  font-size: 1.8em;
  font-weight: 700;
  font-style: italic; }

.text_categories, .blog_post--categories {
  font-family: 'Montserrat', sans-serif;
  font-size: 0.8em;
  font-weight: 700; }

.text_title_blog_preview, .blog_post .blog_post_preview .blog_post_preview--title, .blog_post .blog_post_preview .blog_post_preview--title_sm {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.2em;
  font-weight: 700;
  font-style: normal;
  color: #333333; }

.text_date_blog_preview, .blog_post .blog_post_preview .blog_post_preview--date, .blog_post .blog_post_preview .blog_post_preview--date_sm, .blog_interna_date {
  font-family: 'Montserrat', sans-serif;
  font-size: 0.8em;
  font-weight: 300;
  color: #333333;
  text-transform: uppercase; }

.text_blog_preview, .blog_post .blog_post_preview .blog_post_preview--text {
  font-family: 'Ubuntu', sans-serif;
  font-size: 1em;
  font-weight: 300;
  color: #333333; }

.text_btn_blog, .btn.btn_blog, .blog_post a.link_blog {
  font-family: 'Ubuntu', sans-serif;
  font-size: 1em;
  font-weight: 300;
  color: #555;
  text-transform: none; }

.video {
  position: relative;
  display: block;
  width: 100%;
  height: auto; }

.btn {
  border: none;
  text-transform: uppercase;
  padding: 0.5em 1.7em;
  -webkit-border-radius: 50px;
  border-radius: 50px;
  background-clip: padding-box;
  /* stops bg color from leaking outside the border: */
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s; }
  .btn.btn_purple_lg {
    color: #fff;
    background: #af116c;
    border: 1px solid #af116c;
    box-shadow: 3px 5px 0 #661a4f;
    -webkit-box-shadow: 3px 5px 0 #661a4f;
    -moz-box-shadow: 3px 5px 0 #661a4f; }
    @media only screen and (max-width: 575.98px) {
      .btn.btn_purple_lg {
        font-size: 1em;
        width: 100%; } }
    .btn.btn_purple_lg:hover {
      background: #661a4f;
      border: 1px solid #661a4f;
      box-shadow: 3px 5px 0 #af116c;
      -webkit-box-shadow: 3px 5px 0 #af116c;
      -moz-box-shadow: 3px 5px 0 #af116c; }
  .btn.btn_green_lg {
    color: #661a4f;
    background: #dbe342;
    border: 1px solid #dbe342;
    box-shadow: 3px 5px 0 #c1c925;
    -webkit-box-shadow: 3px 5px 0 #c1c925;
    -moz-box-shadow: 3px 5px 0 #c1c925; }
    @media only screen and (max-width: 575.98px) {
      .btn.btn_green_lg {
        font-size: 0.92em;
        width: 100%; } }
    .btn.btn_green_lg:hover {
      background: #c1c925;
      border: 1px solid #c1c925;
      box-shadow: 3px 5px 0 #dbe342;
      -webkit-box-shadow: 3px 5px 0 #dbe342;
      -moz-box-shadow: 3px 5px 0 #dbe342; }
  .btn.btn_green {
    color: #000;
    background: #dbe342;
    font-weight: 400; }
    @media only screen and (max-width: 575.98px) {
      .btn.btn_green {
        font-size: 0.85em;
        width: 100%; } }
    .btn.btn_green:hover {
      background: #c1c925; }
  .btn.btn_blog {
    margin-top: 15px;
    float: right;
    position: relative; }
    @media only screen and (max-width: 767.98px) {
      .btn.btn_blog {
        position: relative;
        float: right; } }
  .btn.btn_input {
    background: #661a4f;
    font-family: 'Montserrat', sans-serif;
    font-size: 1em;
    font-weight: 400;
    text-transform: uppercase;
    color: #fff;
    position: absolute;
    height: calc(2.5rem + 2px);
    top: 0;
    right: 15px; }
    @media only screen and (max-width: 767.98px) {
      .btn.btn_input {
        top: 20px;
        font-size: 0.85em; } }
    @media only screen and (max-width: 575.98px) {
      .btn.btn_input {
        top: 20px;
        font-size: 0.85em; } }
    .btn.btn_input:hover {
      background: #4a1339; }
  .btn.btn_input_sm {
    font-family: 'Montserrat', sans-serif;
    font-size: 1em;
    font-weight: 400;
    text-transform: uppercase;
    position: absolute;
    height: calc(2.5rem + 2px);
    bottom: 2.5em;
    padding: 0.5em 0.8em !important;
    right: 0; }
    @media only screen and (max-width: 767.98px) {
      .btn.btn_input_sm {
        top: 0;
        font-size: 0.85em;
        padding: 0.8em 1em !important; } }
    @media only screen and (max-width: 575.98px) {
      .btn.btn_input_sm {
        top: 0;
        font-size: 0.85em;
        padding: 0.8em 1em !important; } }

.primary {
  color: #fff;
  background: #af116c !important;
  border: 1px solid #af116c !important; }
  .primary:hover {
    background: #661a4f !important;
    border: 1px solid #661a4f !important; }

.cat-01_btn {
  color: #fff !important;
  background: #e9005b; }
  .cat-01_btn:hover {
    background: #b60047; }

.cat-02_btn {
  color: #fff !important;
  background: #05c698; }
  .cat-02_btn:hover {
    background: #049472; }

.cat-03_btn {
  color: #fff !important;
  background: #FEC221; }
  .cat-03_btn:hover {
    background: #ebab01; }

.cat-04_btn {
  color: #fff !important;
  background: #F7781E; }
  .cat-04_btn:hover {
    background: #da5f08; }

.cat-05_btn {
  color: #fff !important;
  background: #af116c; }
  .cat-05_btn:hover {
    background: #810c4f; }

.blog_post--categories {
  position: relative;
  float: left;
  display: block;
  clear: both;
  height: 30px;
  width: auto;
  background: #dddddd;
  -webkit-border-radius: 1.5em;
  border-radius: 1.5em;
  background-clip: padding-box;
  /* stops bg color from leaking outside the border: */
  text-transform: uppercase;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  line-height: 2.4;
  padding: 0 20px 0 0; }
  .blog_post--categories:hover {
    text-decoration: none;
    background: #d0d0d0; }
  .blog_post--categories .blog_post--categories_icon {
    display: block;
    height: 30px;
    width: 30px;
    -webkit-border-radius: 2em;
    border-radius: 2em;
    background-clip: padding-box;
    /* stops bg color from leaking outside the border: */
    position: relative;
    float: left;
    padding: 5px;
    margin-right: 8px; }
    .blog_post--categories .blog_post--categories_icon img {
      display: block;
      width: 18px;
      height: auto;
      margin: 0 auto; }

.cat-01 {
  color: #e9005b; }
  .cat-01 div {
    background-color: #e9005b; }
  .cat-01 .svg_icon {
    width: px;
    height: auto; }
  .cat-01:hover {
    color: #e9005b; }

.cat-02 {
  color: #05c698; }
  .cat-02 div {
    background-color: #05c698; }
  .cat-02:hover {
    color: #05c698; }

input,
textarea {
  font-family: 'Montserrat', sans-serif;
  font-size: 1em;
  font-weight: 400;
  color: #333333; }
  input.placeholder,
  textarea.placeholder {
    color: #333333;
    font-family: 'Ubuntu', sans-serif;
    font-size: 1.05em;
    font-weight: 300;
    line-height: 1.2; }
  input:-moz-placeholder,
  textarea:-moz-placeholder {
    color: #333333;
    font-family: 'Ubuntu', sans-serif;
    font-size: 1.05em;
    font-weight: 300;
    line-height: 1.2; }
  input::-moz-placeholder,
  textarea::-moz-placeholder {
    color: #333333;
    font-family: 'Ubuntu', sans-serif;
    font-size: 1.05em;
    font-weight: 300;
    line-height: 1.2; }
  input:-ms-input-placeholder,
  textarea:-ms-input-placeholder {
    color: #333333;
    font-family: 'Ubuntu', sans-serif;
    font-size: 1.05em;
    font-weight: 300;
    line-height: 1.2; }
  input::-webkit-input-placeholder,
  textarea::-webkit-input-placeholder {
    color: #333333;
    font-family: 'Ubuntu', sans-serif;
    font-size: 1.05em;
    font-weight: 300;
    line-height: 1.2; }
  @media only screen and (max-width: 575.98px) {
    input,
    textarea {
      font-size: 0.85em; } }

.form_input {
  display: block;
  width: 100%;
  height: calc(2.5rem + 2px);
  padding: 0.7em 0.9em;
  font-size: 1rem;
  line-height: 1.5;
  color: #333333;
  background-color: #fff;
  background-clip: padding-box;
  border-radius: 2em;
  border: none;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out; }
  @media only screen and (max-width: 575.98px) {
    .form_input {
      font-size: 0.85em; } }

header {
  background: #dbe342; }

.header-top {
  background: #dbe342; }
  .header-top__socials {
    height: 100%;
    padding-top: 8px;
    padding-bottom: 8px;
    text-align: left; }
    @media only screen and (max-width: 575.98px) {
      .header-top__socials {
        text-align: center; } }
    .header-top__socials--icon {
      height: 20px;
      width: auto;
      display: block;
      font-size: 1.2rem;
      line-height: 1;
      display: inline-block;
      margin-left: 5px;
      color: #661a4f; }
      .header-top__socials--icon:first-child {
        font-size: 1.1rem;
        margin-left: 0; }
      .header-top__socials--icon:hover {
        color: #3d1030; }
  .header-top__nav {
    border-top: 1px solid #c1c925;
    height: 38px;
    right: 0; }
    @media only screen and (max-width: 575.98px) {
      .header-top__nav {
        padding: 0; } }
    .header-top__nav a {
      width: auto;
      height: 100%;
      display: block;
      position: relative;
      float: left;
      border-left: 1px solid #c1c925;
      border-right: 1px solid #c1c925;
      font-family: 'Montserrat', sans-serif;
      font-size: 0.75em;
      font-weight: 500;
      text-align: center;
      padding: 0.9em 2em;
      color: #661a4f; }
      @media only screen and (max-width: 575.98px) {
        .header-top__nav a {
          float: left;
          width: 50% !important; } }
      .header-top__nav a img {
        margin-right: 5px;
        width: 11px;
        height: 12px;
        position: relative; }
      .header-top__nav a:first-child {
        padding: 1em 2em;
        border-right: 0; }
        @media only screen and (max-width: 575.98px) {
          .header-top__nav a:first-child {
            border-right: 0; } }
      .header-top__nav a:hover {
        text-decoration: none;
        background: #c1c925; }

.header-nav {
  background: #661a4f;
  height: 63px;
  width: 100%;
  border-bottom: 1px solid #561642; }
  @media only screen and (max-width: 575.98px) {
    .header-nav {
      height: auto !important;
      display: table;
      border: none; } }
  .js .header-nav {
    height: 63px;
    overflow: hidden; }
    .js .header-nav .container {
      height: 100%; }
  .header-nav__logo {
    display: inline-block;
    max-width: 124px;
    height: 63px;
    position: relative;
    padding-top: 12px;
    padding-bottom: 12px; }
  .header-nav__hambugger {
    display: none; }
    .js .header-nav__hambugger {
      display: inline-block;
      float: right;
      border: none;
      background: transparent;
      color: #fff;
      position: relative;
      top: 12px;
      background: #52153f;
      cursor: pointer; }
      .js .header-nav__hambugger:hover, .js .header-nav__hambugger:focus {
        background: #3d1030; }
    .header-nav__hambuggerParties {
      font-size: 1.2em;
      padding: 0.5em 0.3em; }
  .header-nav__menu {
    position: relative;
    float: right; }
    @media only screen and (max-width: 575.98px) {
      .header-nav__menu {
        float: left;
        width: 100%; } }
    .header-nav__menu li {
      display: inline-block; }
      @media only screen and (max-width: 575.98px) {
        .header-nav__menu li {
          display: block;
          width: 100%; } }
    .header-nav__menu a {
      color: #fff;
      display: block;
      position: relative;
      font-size: 1.1em;
      padding: 1.2em  0.7em;
      height: 63px;
      text-transform: uppercase; }
      @media only screen and (max-width: 767.98px) {
        .header-nav__menu a {
          font-size: .95em;
          line-height: 1.5; } }
      @media only screen and (max-width: 575.98px) {
        .header-nav__menu a {
          border-top: 1px solid #561642;
          font-size: 1.2em;
          padding: .8em; }
          .header-nav__menu a:last-child {
            border-bottom: 1px solid #561642; } }
      .header-nav__menu a:hover {
        background: #561642;
        text-decoration: none; }
    @media only screen and (max-width: 575.98px) {
      .js .header-nav__menu {
        display: none; } }
    .menu--opened .header-nav__menu {
      display: block; }

.section, #section_1, #section_3, #section_4, #section_5, #section_7 {
  padding: 70px 0 80px 0; }
  @media only screen and (max-width: 575.98px) {
    .section, #section_1, #section_3, #section_4, #section_5, #section_7 {
      padding: 50px 0 60px 0; } }

#section_1 {
  background: #661a4f;
  background-image: url(../img/back01.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }
  @media only screen and (max-width: 575.98px) {
    #section_1 {
      background-position: left; } }
  #section_1 .text_call {
    position: relative; }
    #section_1 .text_call .text_call_destaque {
      margin-bottom: 20px;
      text-align: left;
      color: #fff;
      font-size: 1.5em;
      line-height: 1.2;
      display: block;
      padding: 20px 0; }
      @media only screen and (max-width: 767.98px) {
        #section_1 .text_call .text_call_destaque {
          font-size: 1em;
          padding: 10px;
          background-color: #661a4f;
          text-align: right; } }
      @media only screen and (max-width: 575.98px) {
        #section_1 .text_call .text_call_destaque {
          font-size: 1em;
          padding: 10px;
          background-color: #661a4f;
          text-align: right; } }
    #section_1 .text_call h1 {
      font-family: 'Montserrat', sans-serif;
      font-weight: 800;
      font-style: italic;
      color: #fff;
      font-size: 3em;
      text-transform: uppercase;
      padding-left: 60px; }
      @media only screen and (max-width: 767.98px) {
        #section_1 .text_call h1 {
          font-size: 1.5em;
          padding-left: 32px; } }
      @media only screen and (max-width: 575.98px) {
        #section_1 .text_call h1 {
          font-size: 1.5em;
          padding-left: 32px; } }
      #section_1 .text_call h1:last-child {
        margin-top: 19px;
        padding-left: 48px; }
        @media only screen and (max-width: 767.98px) {
          #section_1 .text_call h1:last-child {
            margin-top: 8px;
            padding-left: 25px; } }
        @media only screen and (max-width: 575.98px) {
          #section_1 .text_call h1:last-child {
            margin-top: 8px;
            padding-left: 25px; } }
    #section_1 .text_call span {
      font-family: 'Montserrat', sans-serif;
      font-weight: 800;
      font-style: italic;
      color: #dbe342;
      font-size: 8em;
      text-transform: uppercase;
      position: absolute;
      left: 14px;
      top: -8px; }
      @media only screen and (max-width: 767.98px) {
        #section_1 .text_call span {
          font-size: 4.5em;
          left: 14px;
          top: -8px; } }
      @media only screen and (max-width: 575.98px) {
        #section_1 .text_call span {
          font-size: 4.5em;
          left: 14px;
          top: -8px; } }
  #section_1 img {
    width: 100%;
    height: auto; }

#section_2 {
  position: relative;
  padding: 80px 0;
  min-height: 500px; }
  @media only screen and (max-width: 575.98px) {
    #section_2 {
      padding: 50px 0;
      min-height: 400px; } }
  #section_2::after {
    background: #fff;
    background-image: url(../img/back02.png);
    background-position: left top;
    background-repeat: no-repeat;
    background-size: cover;
    content: "";
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
    opacity: 1; }
    @media only screen and (max-width: 767.98px) {
      #section_2::after {
        background-position: left;
        background-position-x: -150px;
        opacity: 0.3; } }
    @media only screen and (max-width: 575.98px) {
      #section_2::after {
        background-position: left;
        background-position-x: -150px;
        opacity: 0.3; } }
  #section_2 .apresentacao_title {
    font-size: 3em;
    text-align: right;
    color: #661a4f; }
    @media only screen and (max-width: 575.98px) {
      #section_2 .apresentacao_title {
        font-size: 1.8em; } }
  #section_2 .apresentacao_text {
    margin-top: 30px;
    font-family: 'Ubuntu', sans-serif;
    font-size: 1.2em;
    font-weight: 300;
    line-height: 1.2;
    text-align: right;
    color: #333333; }
    @media only screen and (max-width: 575.98px) {
      #section_2 .apresentacao_text {
        font-size: 1.05em;
        line-height: 1.2; } }

#call_challenger {
  padding: 30px 0;
  background: #661a4f;
  width: 100%;
  height: auto; }
  @media only screen and (max-width: 575.98px) {
    #call_challenger {
      padding: 20px 0; } }
  #call_challenger p {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.3em;
    font-weight: 400;
    color: #fff;
    line-height: 1.2; }
    @media only screen and (max-width: 575.98px) {
      #call_challenger p {
        font-size: 1em;
        line-height: 20px; } }
    #call_challenger p span {
      font-weight: 600; }
  @media only screen and (max-width: 767.98px) {
    #call_challenger a {
      margin-top: 15px; } }
  @media only screen and (max-width: 575.98px) {
    #call_challenger a {
      margin-top: 15px; } }

#section_3 {
  background: #fff; }
  #section_3 h2 {
    color: #661a4f;
    text-align: center;
    text-transform: uppercase;
    line-height: 1.2em; }
    @media only screen and (max-width: 575.98px) {
      #section_3 h2 {
        font-size: 1.5em; } }
  #section_3 p {
    margin-top: 30px;
    font-family: 'Ubuntu', sans-serif;
    font-size: 1.05em;
    font-weight: 300;
    text-align: center;
    color: #333333;
    line-height: 1.2;
    padding: 0 80px; }
    @media only screen and (max-width: 767.98px) {
      #section_3 p {
        padding: 0; } }
    @media only screen and (max-width: 575.98px) {
      #section_3 p {
        padding: 0; } }
    #section_3 p span {
      font-weight: 600; }
  #section_3 .resultado_img {
    display: block;
    position: relative;
    width: 100%;
    height: auto; }
  @media only screen and (max-width: 767.98px) {
    #section_3 .resultado {
      background: none;
      padding-top: 0;
      padding-bottom: 0;
      margin-bottom: 30px; } }
  @media only screen and (max-width: 575.98px) {
    #section_3 .resultado {
      background: none;
      padding-top: 0;
      padding-bottom: 0;
      margin-bottom: 20px; } }
  #section_3 .resultado_text {
    background: #f2f2f2;
    margin-left: -15px; }
    @media only screen and (max-width: 767.98px) {
      #section_3 .resultado_text {
        margin-left: 0;
        background: #fff; } }
    @media only screen and (max-width: 575.98px) {
      #section_3 .resultado_text {
        margin-left: 0;
        background: #fff; } }
    #section_3 .resultado_text_aluna {
      text-align: left;
      padding: 0;
      margin: 10px;
      font-size: 1em; }
      @media only screen and (max-width: 767.98px) {
        #section_3 .resultado_text_aluna {
          margin-top: 15px;
          text-align: center; } }
      @media only screen and (max-width: 575.98px) {
        #section_3 .resultado_text_aluna {
          margin-top: 15px;
          text-align: center; } }
      #section_3 .resultado_text_aluna--legenda {
        text-align: left;
        font-weight: 700;
        padding-left: 15px;
        font-size: .8em; }
        @media only screen and (max-width: 767.98px) {
          #section_3 .resultado_text_aluna--legenda {
            margin-top: 5px;
            text-align: center;
            font-size: 1em; } }
        @media only screen and (max-width: 575.98px) {
          #section_3 .resultado_text_aluna--legenda {
            margin-top: 8px;
            text-align: center; } }
  #section_3 .depoimento_video_item {
    margin-bottom: 15px; }

#section_4 {
  min-height: 600px;
  padding-bottom: 120px;
  position: relative;
  background: #f2f2f2; }
  @media only screen and (max-width: 575.98px) {
    #section_4 {
      padding-bottom: 70px;
      min-height: 200px; } }
  #section_4::after {
    background-image: url(../img/back03.png);
    background-position: 80% 70%;
    background-repeat: no-repeat;
    background-size: auto 72%;
    content: "";
    z-index: 1;
    opacity: 1;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0; }
    @media only screen and (max-width: 767.98px) {
      #section_4::after {
        display: none;
        visibility: hidden; } }
    @media only screen and (max-width: 575.98px) {
      #section_4::after {
        display: none;
        visibility: hidden; } }
  #section_4 .vantagens_back {
    position: absolute;
    background: #dbe342;
    display: block;
    width: 90%;
    margin-left: -15px;
    margin-top: 70px;
    content: "";
    min-height: 280px;
    border-top-left-radius: 0;
    border-top-right-radius: 9em;
    border-bottom-right-radius: 9em;
    border-bottom-left-radius: 0;
    -webkit-border-top-left-radius: 0;
    -webkit-border-top-right-radius: 9em;
    -webkit-border-bottom-right-radius: 9em;
    -webkit-border-bottom-left-radius: 0;
    -moz-border-radius-topleft: 0;
    -moz-border-radius-topright: 9em;
    -moz-border-radius-bottomright: 9em;
    -moz-border-radius-bottomleft: 0; }
    @media only screen and (max-width: 575.98px) {
      #section_4 .vantagens_back {
        display: none;
        visibility: hidden; } }
  #section_4 h2 {
    color: #661a4f;
    text-align: center;
    text-transform: uppercase;
    line-height: 1.2em; }
    @media only screen and (max-width: 575.98px) {
      #section_4 h2 {
        font-size: 1.5em; } }
  #section_4 .vantagens_list {
    list-style-image: url(../img/list_style.png);
    list-style-position: inside;
    margin-top: 80px;
    padding: 35px 0 35px 15px;
    width: 100%; }
    @media only screen and (max-width: 575.98px) {
      #section_4 .vantagens_list {
        list-style-image: url(../img/list_style_xs.png);
        margin-top: 30px;
        background: #dbe342;
        margin-left: -30px;
        width: calc(100% + 30px);
        border-top-left-radius: 0;
        border-top-right-radius: 8em;
        border-bottom-right-radius: 8em;
        border-bottom-left-radius: 0;
        -webkit-border-top-left-radius: 0;
        -webkit-border-top-right-radius: 8em;
        -webkit-border-bottom-right-radius: 8em;
        -webkit-border-bottom-left-radius: 0;
        -moz-border-radius-topleft: 0;
        -moz-border-radius-topright: 8em;
        -moz-border-radius-bottomright: 8em;
        -moz-border-radius-bottomleft: 0; } }
    #section_4 .vantagens_list li {
      color: #000;
      line-height: 1.3; }
      @media only screen and (max-width: 575.98px) {
        #section_4 .vantagens_list li {
          font-size: 1.2em;
          line-height: 1.3em; } }
      #section_4 .vantagens_list li span {
        font-weight: 500; }

#section_5 {
  background: #fff;
  background-image: url(../img/back04.png);
  background-position: center;
  background-repeat: repeat-y;
  background-size: cover; }
  @media only screen and (max-width: 575.98px) {
    #section_5 {
      background-size: contain; } }
  #section_5 h2 {
    color: #661a4f;
    text-align: left;
    text-transform: uppercase;
    line-height: 1.2em; }
    @media only screen and (max-width: 575.98px) {
      #section_5 h2 {
        font-size: 1.6em; } }
  #section_5 h3 {
    text-transform: uppercase;
    margin-bottom: 2em; }
    @media only screen and (max-width: 575.98px) {
      #section_5 h3 {
        font-size: 1.1em;
        margin-bottom: 1.2em; } }
  #section_5 a.btn_blog {
    position: absolute;
    bottom: 20px;
    right: 20px; }
    @media only screen and (max-width: 767.98px) {
      #section_5 a.btn_blog {
        position: relative;
        float: right;
        bottom: 0;
        right: 0; } }
    @media only screen and (max-width: 575.98px) {
      #section_5 a.btn_blog {
        position: relative;
        float: right;
        bottom: 0;
        right: 0; } }

@media only screen and (max-width: 575.98px) {
  .hidden-xs {
    visibility: hidden;
    display: none; } }

#section_6 {
  position: relative;
  float: left;
  background: #661a4f;
  background-image: url(../img/back01.png);
  background-position: 0% 25%;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 50px 0; }
  @media only screen and (max-width: 575.98px) {
    #section_6 {
      background-position: left; } }
  #section_6 p {
    color: #fff;
    font-size: 1.3em;
    line-height: 1.2em; }
    @media only screen and (max-width: 575.98px) {
      #section_6 p {
        font-size: 1em;
        padding: 10px 10px 10px 0;
        background-color: #661a4f; } }
  @media only screen and (max-width: 767.98px) {
    #section_6 form {
      margin-top: 20px; } }
  @media only screen and (max-width: 575.98px) {
    #section_6 form {
      margin-top: 20px; } }
  #section_6 form input {
    padding-right: 160px; }
    @media only screen and (max-width: 575.98px) {
      #section_6 form input {
        padding-right: 140px; } }
  #section_6 .form-group {
    margin-bottom: 0; }

#section_7 {
  position: relative;
  float: left;
  background: #661a4f; }

#section_8 {
  position: relative;
  float: left;
  background: #d7d7d7;
  padding: 50px 0;
  color: #555; }
  #section_8 h4 {
    font-family: 'Ubuntu', sans-serif;
    font-size: 0.8em;
    font-weight: 700;
    text-align: center;
    margin-bottom: 1em;
    line-height: 1.2; }
  #section_8 p {
    font-family: 'Ubuntu', sans-serif;
    font-size: 0.8em;
    font-weight: 400;
    line-height: 1.2;
    margin-bottom: 0.6em;
    text-align: center; }

footer {
  background: #661a4f;
  padding: 20px 0;
  height: auto;
  width: 100%;
  display: table; }
  footer a.footer_logo_hampy {
    position: relative;
    float: left; }
    @media only screen and (max-width: 575.98px) {
      footer a.footer_logo_hampy img {
        width: 90px;
        height: 25px; } }
  footer .footer_menu {
    position: relative;
    float: right;
    width: auto;
    vertical-align: middle;
    padding: 8px 0; }
    @media only screen and (max-width: 575.98px) {
      footer .footer_menu {
        margin-top: 10px;
        float: left;
        padding: 0; } }
    footer .footer_menu a {
      font-family: 'Montserrat', sans-serif;
      font-size: 1em;
      font-weight: 500;
      color: #fff;
      text-align: right;
      line-height: 1.5;
      margin-right: 10px;
      text-transform: uppercase; }
      @media only screen and (max-width: 575.98px) {
        footer .footer_menu a {
          font-size: 0.8em;
          display: block;
          text-align: left; } }
    footer .footer_menu:last-child {
      margin-right: 0; }

.blog_post {
  position: relative;
  float: left;
  display: block;
  margin-bottom: 20px; }
  .blog_post .blog_post_img {
    display: block;
    position: relative;
    width: 50%;
    height: auto; }
    @media only screen and (max-width: 767.98px) {
      .blog_post .blog_post_img {
        width: 100%; } }
    @media only screen and (max-width: 575.98px) {
      .blog_post .blog_post_img {
        width: 100%; } }
    .blog_post .blog_post_img img {
      width: 100%;
      height: auto; }
  .blog_post .blog_post_text {
    background: #f2f2f2;
    display: table;
    position: relative;
    width: 40%;
    height: 100%;
    padding: 20px; }
    @media only screen and (max-width: 767.98px) {
      .blog_post .blog_post_text {
        margin-top: -3px;
        width: 100%;
        height: auto; } }
    @media only screen and (max-width: 575.98px) {
      .blog_post .blog_post_text {
        margin-top: -3px;
        width: 100%;
        height: auto; } }
  .blog_post .blog_post_preview {
    position: relative;
    display: block;
    float: left;
    height: auto; }
    .blog_post .blog_post_preview .blog_post_preview--title {
      margin-top: 25px;
      text-transform: uppercase; }
      @media only screen and (max-width: 575.98px) {
        .blog_post .blog_post_preview .blog_post_preview--title {
          margin-top: 20px; } }
    .blog_post .blog_post_preview .blog_post_preview--date {
      margin-top: 12px; }
      @media only screen and (max-width: 575.98px) {
        .blog_post .blog_post_preview .blog_post_preview--date {
          margin-top: 8px; } }
    .blog_post .blog_post_preview .blog_post_preview--text {
      margin-top: 30px;
      padding-bottom: 10px; }
      @media only screen and (max-width: 575.98px) {
        .blog_post .blog_post_preview .blog_post_preview--text {
          margin-top: 20px;
          margin-bottom: 0; } }

.blog_background {
  background: #fff;
  background-image: url(../img/back04.png);
  background-position: center;
  background-repeat: repeat-y;
  background-size: cover; }
  @media only screen and (max-width: 575.98px) {
    .blog_background {
      background-size: contain; } }

.nav_blog_categories {
  height: 60px;
  margin-bottom: 15px; }
  @media only screen and (max-width: 575.98px) {
    .nav_blog_categories {
      height: auto; } }
  .nav_blog_categories ul {
    padding: 0;
    margin: 0;
    background: #f2f2f2;
    list-style: none;
    height: 60px; }
    @media only screen and (max-width: 575.98px) {
      .nav_blog_categories ul {
        height: auto; } }
    .nav_blog_categories ul li {
      display: inline-block;
      height: 60px; }
      .nav_blog_categories ul li:hover:nth-child(1) a {
        background: #05c698; }
      .nav_blog_categories ul li:hover:nth-child(2) a {
        background: #FEC221; }
      .nav_blog_categories ul li:hover:nth-child(3) a {
        background: #F7781E; }
      .nav_blog_categories ul li:hover:nth-child(4) a {
        background: #e9005b; }
      .nav_blog_categories ul li:hover:nth-child(5) a {
        background: #af116c; }
      .nav_blog_categories ul li:hover a {
        text-decoration: none;
        color: #fff; }
      .nav_blog_categories ul li a {
        line-height: 3.2;
        display: block;
        font-family: 'Montserrat', sans-serif;
        font-size: 1.1em;
        font-weight: 300;
        color: #333333;
        padding: 0 20px;
        height: 100%;
        transition: color 0.25s ease;
        border-right: 1px solid #d7d7d7; }

.blog_home {
  padding-top: 70px; }
  .blog_home form {
    position: relative;
    height: 100%; }
    @media only screen and (max-width: 767.98px) {
      .blog_home form {
        position: relative;
        height: auto; } }
  .blog_home_search {
    position: absolute;
    bottom: 0;
    margin-bottom: 2.5em; }
    @media only screen and (max-width: 767.98px) {
      .blog_home_search {
        position: relative;
        display: block;
        margin-bottom: 1em; } }
    .blog_home_search--input.form_input {
      padding-right: 3.2em;
      background: #f2f2f2; }
  .blog_home--banner {
    margin-bottom: 1em; }
    .blog_home--banner img {
      width: 100%;
      height: auto; }

.blog_home_title {
  color: #661a4f;
  text-align: left;
  text-transform: uppercase;
  line-height: 1.2em; }
  @media only screen and (max-width: 575.98px) {
    .blog_home_title {
      font-size: 1.6em; } }

.blog_home_subtitle {
  text-transform: uppercase;
  margin-bottom: 2em; }
  @media only screen and (max-width: 767.98px) {
    .blog_home_subtitle {
      font-size: 1.1em;
      margin-bottom: 1em; } }
  @media only screen and (max-width: 575.98px) {
    .blog_home_subtitle {
      font-size: 1.1em;
      margin-bottom: 1.2em; } }

.blog_post .blog_post_img {
  display: block;
  position: relative;
  width: 60%;
  height: auto; }
  @media only screen and (max-width: 767.98px) {
    .blog_post .blog_post_img {
      width: 100%; } }
  @media only screen and (max-width: 575.98px) {
    .blog_post .blog_post_img {
      width: 100%; } }
  .blog_post .blog_post_img img {
    width: 100%;
    height: auto; }

.blog_post .blog_post_img_sm {
  display: block;
  position: relative;
  width: 50%;
  height: auto;
  float: left;
  overflow: hidden; }
  @media only screen and (max-width: 575.98px) {
    .blog_post .blog_post_img_sm {
      width: 100%; } }
  .blog_post .blog_post_img_sm img {
    width: 100%;
    height: auto; }

.blog_post .blog_post_text {
  background: #f2f2f2;
  display: table;
  position: relative;
  width: 40%;
  height: calc(100% - 3px);
  padding: 20px; }
  @media only screen and (max-width: 767.98px) {
    .blog_post .blog_post_text {
      margin-top: -3px;
      width: 100%;
      height: auto; } }
  @media only screen and (max-width: 575.98px) {
    .blog_post .blog_post_text {
      margin-top: -3px;
      width: 100%;
      height: auto; } }

.blog_post .blog_post_text_sm {
  background: #f2f2f2;
  display: table;
  position: relative;
  width: 50%;
  float: left;
  height: calc(100% - 3px);
  padding: 15px 15px 0 15px; }
  @media only screen and (max-width: 767.98px) {
    .blog_post .blog_post_text_sm {
      height: calc(100% - 2px); } }
  @media only screen and (max-width: 575.98px) {
    .blog_post .blog_post_text_sm {
      margin-top: -3px;
      width: 100%;
      height: auto; } }

.blog_post .blog_post_preview {
  position: relative;
  display: block;
  float: left;
  height: auto; }
  @media only screen and (max-width: 575.98px) {
    .blog_post .blog_post_preview {
      clear: both;
      width: 100%;
      padding-bottom: 50px; } }
  .blog_post .blog_post_preview .blog_post_preview--title {
    margin-top: 25px;
    text-transform: uppercase; }
    @media only screen and (max-width: 575.98px) {
      .blog_post .blog_post_preview .blog_post_preview--title {
        margin-top: 20px; } }
  .blog_post .blog_post_preview .blog_post_preview--title_sm {
    margin-top: 15px;
    text-transform: uppercase; }
    @media only screen and (max-width: 767.98px) {
      .blog_post .blog_post_preview .blog_post_preview--title_sm {
        margin-top: 15px;
        font-size: 1.1em; } }
    @media only screen and (max-width: 575.98px) {
      .blog_post .blog_post_preview .blog_post_preview--title_sm {
        margin-top: 20px; } }
  .blog_post .blog_post_preview .blog_post_preview--date {
    margin-top: 12px; }
    @media only screen and (max-width: 575.98px) {
      .blog_post .blog_post_preview .blog_post_preview--date {
        margin-top: 8px; } }
  .blog_post .blog_post_preview .blog_post_preview--date_sm {
    margin-top: 12px; }
    @media only screen and (max-width: 767.98px) {
      .blog_post .blog_post_preview .blog_post_preview--date_sm {
        margin-top: 8px;
        font-size: 0.8em;
        font-weight: 400; } }
    @media only screen and (max-width: 575.98px) {
      .blog_post .blog_post_preview .blog_post_preview--date_sm {
        margin-top: 8px;
        font-size: 0.8em;
        font-weight: 400; } }
  .blog_post .blog_post_preview .blog_post_preview--text {
    margin-top: 30px;
    padding-bottom: 10px; }
    @media only screen and (max-width: 575.98px) {
      .blog_post .blog_post_preview .blog_post_preview--text {
        margin-top: 20px;
        margin-bottom: 0; } }

.blog_post a.btn_blog {
  position: absolute;
  bottom: 20px;
  right: 20px; }
  @media only screen and (max-width: 767.98px) {
    .blog_post a.btn_blog {
      position: relative;
      float: right;
      bottom: 0;
      right: 0; } }
  @media only screen and (max-width: 575.98px) {
    .blog_post a.btn_blog {
      position: relative;
      float: right;
      bottom: 0;
      right: 0; } }

.blog_post a.link_blog {
  margin-top: 10px;
  position: absolute;
  width: 100%;
  right: 0;
  left: 0;
  bottom: 0;
  padding: 10px 15px; }
  @media only screen and (max-width: 575.98px) {
    .blog_post a.link_blog {
      display: block; } }
  .blog_post a.link_blog:hover {
    text-decoration: none; }

.blog_interna {
  position: relative;
  float: left;
  margin: 50px 0;
  height: auto;
  width: 100%; }
  @media only screen and (max-width: 575.98px) {
    .blog_interna {
      margin: 30px 0; } }
  .blog_interna_content {
    background: #fff;
    padding: 30px;
    -webkit-border-radius: 20px;
    border-radius: 20px;
    background-clip: padding-box;
    /* stops bg color from leaking outside the border: */
    box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.1); }
    @media only screen and (max-width: 575.98px) {
      .blog_interna_content {
        padding: 15px; } }
  .blog_interna_title {
    color: #661a4f;
    clear: both;
    text-align: left;
    text-transform: uppercase;
    line-height: 1.2em; }
    @media only screen and (max-width: 575.98px) {
      .blog_interna_title {
        font-size: 1.6em; } }
  .blog_interna_date {
    margin-top: 10px;
    font-size: 1.5em; }
    @media only screen and (max-width: 575.98px) {
      .blog_interna_date {
        margin-top: 8px;
        font-size: 1em; } }
  .blog_interna_text {
    margin-top: 50px; }
    @media only screen and (max-width: 575.98px) {
      .blog_interna_text {
        margin-top: 35px; } }
    .blog_interna_text p {
      font-family: 'Ubuntu', sans-serif;
      font-size: 1.1em;
      font-weight: 300;
      line-height: 1.2;
      margin-bottom: 15px; }
  .blog_interna_img {
    position: relative;
    float: left;
    width: 100%;
    height: auto;
    margin-bottom: 30px; }
    .blog_interna_img img {
      width: 100%;
      height: auto; }
  .blog_interna_share {
    position: relative;
    float: left;
    width: 100%;
    height: auto; }
  .blog_interna_otherpost {
    position: relative;
    float: left;
    width: 100%;
    height: auto;
    margin-top: 30px; }
    .blog_interna_otherpost h4 {
      font-family: 'Montserrat', sans-serif;
      font-size: 1.5em;
      font-weight: 800;
      color: #661a4f;
      text-align: left;
      text-transform: uppercase;
      font-style: italic;
      margin-bottom: 10px; }
  .blog_interna_tags {
    position: relative;
    float: left;
    width: 100%;
    height: auto;
    border-top: 1px solid #d7d7d7;
    border-bottom: 1px solid #d7d7d7;
    padding: 15px 0;
    margin-top: 20px;
    margin-bottom: 20px; }
    .blog_interna_tags h4 {
      font-family: 'Montserrat', sans-serif;
      font-size: 1.5em;
      font-weight: 800;
      color: #661a4f;
      text-align: left;
      text-transform: uppercase;
      font-style: italic;
      margin-bottom: 10px; }
    .blog_interna_tags a {
      padding: 8px 15px;
      background: #d7d7d7;
      -webkit-border-radius: 2em;
      border-radius: 2em;
      background-clip: padding-box;
      /* stops bg color from leaking outside the border: */
      font-family: 'Montserrat', sans-serif;
      font-size: 1em;
      font-weight: 300;
      color: #333333;
      font-style: italic;
      margin-right: 10px;
      display: inline-block; }
      .blog_interna_tags a:last-child {
        margin-right: 0; }
      .blog_interna_tags a:hover {
        background: #c3c3c3;
        text-decoration: none; }
  .blog_interna .blog_post_text_sm {
    padding-bottom: 45px; }
