header {
    background: $green;
}

.header-top {
    background: $green;
    $h: 38px;

    &__socials {
        height: 100%;
        padding-top: 8px;
        padding-bottom: 8px;
        text-align: left;
        @include mq('Extra-small') {
            text-align: center;
        }

        &--icon {
            height: 20px;
            width: auto;
            display: block;
            font-size: 1.2rem;
            line-height: 1;
            display: inline-block;
            margin-left: 5px;
            color: $purple;

            &:first-child {
                font-size: 1.1rem;
                margin-left: 0;
            }

            &:hover {
                color: darken($color: $purple, $amount: 10%);
            }
        }
    }

    &__nav {
        border-top: 1px solid $green-darken;
        height: $h;
        right: 0;
        @include mq('Extra-small') {
            padding: 0;
        }

        & a {
            width: auto;
            height: 100%;
            display: block;
            position: relative;
            float: left;
            border-left: 1px solid $green-darken;
            border-right: 1px solid $green-darken;
            @include font-mont(0.75em, 500);
            text-align: center;
            padding: 0.9em 2em;
            color: $purple;
            @include mq('Extra-small') {
                float: left;
                width: 50% !important;
            }

            & img {
                margin-right: 5px;
                width: 11px;
                height: 12px;
                position: relative;
            }

            &:first-child {
                @include mq('Extra-small') {
                    border-right: 0;
                }
                padding: 1em 2em;
                border-right: 0;

            }

            &:hover {
                text-decoration: none;
                background: $green-darken;
            }
        }
    }
}

.header-nav {
    $height-menu: 63px;

    background: $purple;
    height: $height-menu;
    width: 100%;
    border-bottom: 1px solid darken($color: $purple, $amount: 4%);
    @include mq('Extra-small'){
        height: auto !important;
        display: table;
        border: none;
    }

    .js & {
        height: $height-menu;
        overflow: hidden;

        .container {
            height: 100%;
        }
    }

    &__logo {
        display: inline-block;
        max-width: 124px;
        height: $height-menu;
        position: relative;
        padding-top: 12px;
        padding-bottom: 12px;
    }

    &__hambugger {
        display: none;

        .js &{
            display: inline-block;
            float: right;
            border: none;
            background: transparent;
            color: #fff;
            position: relative;
            top: 12px;
            background: darken($color: $purple, $amount: 5%);
            cursor: pointer;

            &:hover, &:focus {
                background: darken($color: $purple, $amount: 10%);
            }
        }

        &Parties {
            font-size: 1.2em;
            padding: 0.5em 0.3em;
        }
    }

    &__menu {
        position: relative;
        float: right;
        @include mq('Extra-small') {
            float: left;
            width: 100%;
        }

        & li {
            display: inline-block;
            @include mq('Extra-small') {
                display: block;
                width: 100%;
            }
        }
       
        a {
            color: #fff;
            display: block;
            position: relative;
            font-size: 1.1em;
            padding: 1.2em  0.7em;
            height: $height-menu;
            text-transform: uppercase;
            @extend .text_menu;
            @include mq('small') {
                font-size: .95em;
                line-height: 1.5;
            }
            @include mq('Extra-small') {
                border-top: 1px solid darken($color: $purple, $amount: 4%);
                font-size: 1.2em;
                padding: .8em;

                &:last-child {
                    border-bottom: 1px solid darken($color: $purple, $amount: 4%); 
                }   
            }
            
            &:hover {
                background: darken($color: $purple, $amount: 4%);
                text-decoration: none;
            }
        }

        .js & {
            @include mq('Extra-small'){
                display: none; 
            }
        }

        .menu--opened & {
            display: block;
        }
    }
}
