.section {
    padding: 70px 0 80px 0;
    @include mq('Extra-small'){
        padding: 50px 0 60px 0;
    }
}

#section_1 {
    background: $purple;
    background-image: url(../img/back01.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    @extend .section;
    @include mq('Extra-small'){
        background-position: left;
    }

    & .text_call {
        position: relative;

        & .text_call_destaque {
            margin-bottom: 20px;
            text-align: left;
            color: #fff;
            font-size: 1.5em;
            line-height: 1.2;
            display: block;
            padding: 20px 0;
            @extend .text_destaque;
            @include mq('small'){
                font-size: 1em;
                padding: 10px;
                background-color: $purple;
                text-align: right;
            }
            @include mq('Extra-small'){
                font-size: 1em;
                padding: 10px;
                background-color: $purple;
                text-align: right;
            }
        }

        & h1 {
            font-family: 'Montserrat', sans-serif;
            font-weight: 800;
            font-style: italic;
            color: #fff;
            font-size: 3em;
            text-transform: uppercase;
            padding-left: 60px;
            @include mq('small'){
                font-size: 1.5em;
                padding-left: 32px;
            }
            @include mq('Extra-small'){
                font-size: 1.5em;
                padding-left: 32px;
            }
    
            &:last-child {
                margin-top: 19px;
                padding-left: 48px;
                @include mq('small'){
                    margin-top: 8px;
                    padding-left: 25px;
                }
                @include mq('Extra-small'){
                    margin-top: 8px;
                    padding-left: 25px;
                }
            }
        }
    
        & span {
            font-family: 'Montserrat', sans-serif;
            font-weight: 800;
            font-style: italic;
            color: $green;
            font-size: 8em;
            text-transform: uppercase;
            position: absolute;
            left: 14px;
            top: -8px;
            @include mq('small'){
                font-size: 4.5em;
                left: 14px;
                top: -8px;
            }
            @include mq('Extra-small'){
                font-size: 4.5em;
                left: 14px;
                top: -8px;
            }
            
        }
    }

    & img {
        width: 100%;
        height: auto;
    }
}

#section_2 {
    position: relative;
    padding: 80px 0;
    min-height: 500px;
    @include mq('Extra-small'){
        padding: 50px 0;
    }
    
    &::after {
        background: #fff;
        background-image: url(../img/back02.png);
        background-position: left top;
        background-repeat: no-repeat;
        background-size: cover;
        content: "";
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        position: absolute;
        z-index: -1;
        opacity: 1;
        @include mq('small'){
            background-position: left;
            background-position-x: -150px;
            opacity: 0.3;
        }
        @include mq('Extra-small'){
            background-position: left;
            background-position-x: -150px;
            opacity: 0.3;
        }
    }

    & .apresentacao_title {
        @extend .text_destaque_h2;
        font-size: 3em;
        text-align: right;
        color: $purple;
        @include mq('Extra-small'){
            font-size: 1.8em;
        }
    }

    & .apresentacao_text {
        margin-top: 30px;
        @include font-ubun(1.2em, 300);
        line-height: 1.2;
        text-align: right;
        color: $gray;
        @include mq('Extra-small'){
            font-size: 1.05em;
            line-height: 1.2;
        }
    }
}

#call_challenger {
    padding: 30px 0;
    background: $purple;
    width: 100%;
    height: auto;
    @include mq('Extra-small'){
        padding: 20px 0;
    }

    & p {
        @include font-mont(1.3em, 400);
        color: #fff;
        line-height: 1.2;
        @include mq('Extra-small'){
            font-size: 1em;
            line-height: 20px;
        }
        
        & span {
            font-weight: 600;
        }
    }

    & a {
        @include mq('small'){
            margin-top: 15px;
        }
        @include mq('Extra-small'){
            margin-top: 15px;
        }
    }
}

#section_3 {
    @extend .section;
    background: #fff;

    & h2 {
        @extend .title_section;
        color: $purple;
        text-align: center;
        text-transform: uppercase;
        line-height: 1.2em;
        @include mq('Extra-small') {
            font-size: 1.5em;
        }
    }

    & p {
        margin-top: 30px;
        @include font-ubun(1.05em, 300);
        text-align: center;
        color: $gray;
        line-height: 1.2;
        padding: 0 80px;
        @include mq('Extra-small'){
            padding: 0;
        }

        & span {
            font-weight: 600;
        }
    }

    .resultado_img {
        display: block;
        position: relative;
        width: 100%;
        height: auto;
    }

    .resultado {
        @include mq('Extra-small'){
            background: none;
            padding-top: 0;
            padding-bottom: 0;
            margin-bottom: 20px;
        }
    }

    .resultado_text {
        background: $gray-ligthten;
        margin-left: -15px;
        @include mq('Extra-small'){
            margin-left: 0;
            background: #fff;
        }

        &_aluna {
            text-align: left;
            padding: 0;
            margin: 10px;
            font-size: 1em;
            @include mq('Extra-small'){
                margin-top: 15px;
                text-align: center;
            }
    
            &--legenda {
                text-align: left;
                font-weight: 700;
                padding-left: 15px;
                font-size: .8em;
                @include mq('Extra-small'){
                    margin-top: 8px;
                    text-align: center;
                }
            }
        }
    }

    .depoimento_video_item {
        margin-bottom: 15px;
    }
    
}

#section_4 {
    @extend .section;
    min-height: 600px;
    padding-bottom: 120px;
    position: relative;
    background: $gray-ligthten;
    @include mq('Extra-small'){
        padding-bottom: 70px;
        min-height: 200px;
    }

    &::after {
        background-image: url(../img/back03.png);
        background-position: 80% 70%;
        background-repeat: no-repeat;
        background-size: auto 72%;
        content: "";
        z-index: 1;
        opacity: 1;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        @include mq('Extra-small'){
            display: none;
            visibility: hidden;
        }
    }

    & .vantagens_back {
        position: absolute;
        background: $green;
        display: block;
        width: 90%;
        margin-left: -15px;
        margin-top: 70px;
        content: "";
        min-height: 280px;
        @include border-radius-single(0, 9em, 9em, 0);
        @include mq('Extra-small'){
            display: none;
            visibility: hidden;
        }
    }

    & h2 {
        @extend .title_section;
        color: $purple;
        text-align: center;
        text-transform: uppercase;
        line-height: 1.2em;
        @include mq('Extra-small') {
            font-size: 1.5em;
        }
    }

    & .vantagens_list {
        list-style-image: url(../img/list_style.png);
        list-style-position: inside;
        margin-top: 80px;
        padding: 35px 0 35px 15px;
        width: 100%;
        @include mq('Extra-small') {
            list-style-image: url(../img/list_style_xs.png);
            margin-top:30px;
            background: $green;
            margin-left: -30px;
            width: calc(100% + 30px);
            @include border-radius-single(0, 8em, 8em, 0);
        }
              
        & li {
            @extend .text_destaque;
            color: #000;
            line-height: 1.3;
            @include mq('Extra-small') {
                font-size: 1.2em;
                line-height: 1.3em;
            }

            & span {
                font-weight: 500;
            }
        }
    }
}

#section_5 {
    @extend .section;
    background: #fff;
    background-image: url(../img/back04.png);
    background-position: center;
    background-repeat: repeat-y;
    background-size: contain;

    & h2 {
        @extend .title_section;
        color: $purple;
        text-align: left;
        text-transform: uppercase;
        line-height: 1.2em;
        @include mq('Extra-small') {
            font-size: 1.6em;
        }
    }

    & h3 {
        @extend .text_destaque;
        text-transform: uppercase;
        margin-bottom: 2em;
        @include mq('Extra-small'){
            font-size: 1.1em;
            margin-bottom: 1.2em;
        }
    }

    & a.btn_blog {
        position: absolute;
        bottom: 20px;
        right: 20px;
        @include mq('Extra-small'){
            position: relative;
            float: right;
            bottom: 0;
            right: 0;
        }
    }
}

.hidden-xs {
    @include mq('Extra-small') {
        visibility: hidden;
        display: none;
    }
}

#section_6 {
    background: $purple;
    background-image: url(../img/back01.png);
    background-position: 0% 25%;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 50px 0;
    @include mq('Extra-small'){
        background-position: left;
    }

    & p {
        @extend .text_destaque;
        color: #fff;
        font-size: 1.3em;
        line-height: 1.2em;
        @include mq('Extra-small'){
            font-size: 1em;
            padding: 10px 10px 10px 0;
            background-color: $purple;
        }
    }

    & form {
        @include mq('Extra-small'){
            margin-top: 20px;
        }

        & input {
            padding-right: 160px;
            @include mq('Extra-small'){
                padding-right: 140px;
            }
        }
    }

    & .form-group {
        margin-bottom: 0;
    }
}

#section_7 {
    background: $purple;
    @extend .section;
}

#section_8 {
    background: $gray-300;
    @extend .section;
    color: #555;

    h4 {
        @include font-ubun(0.8em, 700);
        text-align: center;
        margin-bottom: 1em;
        line-height: 1.2;
    }

    p {
        @include font-ubun(0.8em, 400);
        line-height: 1.2;
        margin-bottom: 0.6em;
        text-align: center;
    }
}

footer {
    background: $purple;
    padding: 20px 0;
    height: auto;
    width: 100%;
    display: table;

    & a.footer_logo_hampy {
        position: relative;
        float: left;
        
        & img {
            @include mq('Extra-small'){
                width: 90px;
                height: 25px;
            }
        }
    }

    & .footer_menu {
        position: relative;
        float: right;
        width: auto;
        vertical-align: middle;
        padding: 8px 0;
        @include mq('Extra-small'){
            margin-top: 10px;
            float: left;
            padding: 0;
        }

        & a {
            @include font-mont(1em, 500);
            color: #fff;
            text-align: right;
            line-height: 1.5;
            margin-right: 10px;
            text-transform: uppercase;
            @include mq('Extra-small'){
                font-size: 0.8em;
                display: block;
                text-align: left;
            }
        }

        &:last-child {
            margin-right: 0;
        }
    }
}
